@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

:root{
    --wcc: #f4f4f4;
    --gyc: #777;
    --dbc: #1d68e0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Stick', sans-serif;

        /* viewport height */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /* delete scroll bar */
    margin: 0; 
    overflow: hidden;

}

.container{
    width: 480px;
    background-color: var(--wcc);
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
.container h2{
    text-align: center;
    margin-bottom: 0;
}
.container .form{
    padding: 30px 40px;
}
.form .form-group{
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.form .form-group label{
    display: block;
    color: var(--gyc);
    margin-bottom: 5px;
}
.form .form-group .form-control{
    font-family: inherit;

    width: 100%;
    padding: 10px;
}
.form .btn{
    font-family: inherit;

    width: 100%;
    background-color: var(--dbc);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}